/* GRID - COMPONENTS */

%container {
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    @extend %container;

      
    @include bp-lg {
        max-width: 960px;
    }

    @include bp-md {
        max-width: 720px;
    }

    @include bp-sm {
        max-width: 540px;
    }
    
    &-fluid {
        @extend %container;

        max-width: 100%;
    }
}